.container {
    display: flex;
    width: 76%;
    margin: 0 auto;
}

.content-box {
    flex: 1;
    padding: 60px 20px;
    box-sizing: border-box;
}

.content-box h2 {
    font-size: 30px;
    margin-top: 20px;
    padding: 20px;
    font-weight: 700;
    text-align: left;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.content-box p{
    padding: 20px;
}
.content-box h2 span {
    color: #0158F7;
}

.image-box {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-box img {
    max-width: 100%;
    height: auto;
}

.discover-more {
    display: inline-flex;
    align-items: center;
    margin-top: 20px;
    color: #0158F7;
    text-decoration: none;
    font-weight: bold;
   padding-left: 20px;
}

.discover-more svg {
    margin-left: 5px;
}

.arrow {
    margin-left: 5px;
    font-size: 18px;
}