.footer {
    background-color: #0C111D;
    color: #fefefe;
    width: 100%;
    padding: 6rem 0; /* Added padding for better spacing */
    position: relative; /* Keep it relative */
    z-index: 0; /* Ensure footer stays below the demo section */
}


.footer .heading {
    max-width: 1010px;
    width: 90%;
    display: flex;
    justify-content: space-between; /* Space between logo and icons */
    align-items: center; /* Align items vertically */
    margin: 0 auto;
    margin-bottom: 2rem; /* Reduced bottom margin for better spacing */
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    border-bottom: 1px solid gray;
}

.footer .logo img {
    height: 25px; 
    filter: invert(1);
}

.footer .socialIcons {
    display: flex;
}

.footer .socialIcons .icon {
    margin-left: 1rem; /* Space between social icons */
    color: #fefefe;
    font-size: 1.5rem; /* Increased icon size for visibility */
}

.footer .content {
    display: flex;
    justify-content: space-between; /* Changed from space-evenly to space-between for better alignment */
    margin: 1.5rem auto; /* Center content with auto margin */
    max-width: 1010px; /* Restrict maximum width */
    width: 90%; /* Make content responsive */
}

.footer .content p {
    margin-bottom: 1.3rem;
}

.footer .content a {
    text-decoration: none;
    color: #fefefe;
}

.footer .content h4 {
    margin-bottom: 1.3rem;
    font-size: 19px;
    border-bottom: 1px solid gray;
    width: 100%; /* Ensures the border spans the full width */
}

.footerBottom {
    text-align: center; /* Centers the copyright text */
    margin-top: 2rem; /* Added top margin for separation */
    display: flex;
    gap:70px;
}

.footerBottom .address {
    text-align: center; 
    margin-bottom: 1rem;
    margin-left: 17%;
}

.footerBottom .copyright {
    margin-bottom: 1rem; 
    margin-left: 10%;
}

@media (max-width: 767px) {
    .footer .content {
        flex-direction: column;
        align-items: center;
        font-size: 14px;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .footer .content {
        font-size: 14px;
    }
}

@media (orientation: landscape) and (max-height: 500px) {
    .footer {
        position: unset; 
    }
}
